body{
    background-color: white;
}
table, td{
    border: 2px solid black;
}
h1{
    font-size: 40px;
    font-weight: bold;
}

@media only print {

    h1{
        font-size: 25px;
        font-weight: normal;
    }
    table, td {
        border: 0;
    }
}